body {
    background-color: #ffffff;
}

h1, h2 {
    text-align: center;
}

.high-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;  
    overflow: hidden;   
    margin: 0 auto; 
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    justify-content: center;
    align-items: center;
}

.box-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 12rem;
    width: 18rem;
    margin: 4px 4px 21px 4px;
    padding: 0px 0px 21px 0px;
    overflow: hidden;  
    border: .5px solid black;
    border-radius: 10px;
}

.main {
    border: 1px dotted black;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 950px;
    height: 491px;
}

.main spam {
    border-bottom: 1px solid black;
    font-size: 66px;
    width: 800px;
    height: 141px;
}
